<main>
  <h2>Login Page</h2>
  <form action="/user/login" method="POST" novalidate>
    {{> inputField id="username" label="Username" type="text" value=username error=errors.username}}
    {{> inputField id="password" label="Password" type="password" error=errors.password}}
    <button type="submit">Login</button>
  </form>
</main>
