<main>
  <h2>{{type}}</h2>
  <form action="" method="POST" novalidate>
    {{> textAreaField id="post" label="Enter Message" value=post error=errors.post}}
    <button type="submit">Submit</button>
  </form>
</main>
