<main>
  <h2>{{type}}</h2>
  <form action="" method="POST" novalidate>
    <label>Enter Message</label>
    <textarea
      id="post"
      name="post"
      class=""
      rows="5"
      >
    </textarea>
    <button type="submit">Submit</button>
  </form>
</main>
