<main>
  <h2>Sign Up</h2>
  <form action="/user/sign-up" method="POST" novalidate>
    {{> inputField id="username" label="Username" type="text" value=username error=errors.username}}
    {{> inputField id="firstName" label="First Name" type="text" value=firstName error=errors.firstName}}
    {{> inputField id="lastName" label="Last Name" type="text" value=lastName error=errors.lastName}}
    {{> inputField id="password" label="Password" type="password" error=errors.password}}
    {{> inputField id="passwordConfirm" label="Confirm Password" type="password" error=errors.passwordConfirm}}
    <button type="submit">Login</button>
  </form>
</main>
